.Button_design{
/* position: absolute; */
width: 64px;
height: 66px;
/* left: 29px;
top: 288px; */
background: #212638;

display: flex;
align-items: center;
justify-content: center;
flex: 1;

color: white;
border-radius: 100%;
font-size: 36px;
align-items: center;
text-align: center;
outline: none;
border: none;
cursor: pointer;

}

.Operator{
/* position: absolute; */
width: 64px;
height: 66px;
/* left: 29px;
top: 288px; */
background: #34509E;
display: flex;
align-items: center;
justify-content: center;
flex: 1;

color: white;
border-radius: 100%;
font-size: 36px;
align-items: center;
text-align: center;
outline: none;
border: none;
cursor: pointer;

}

.light_blue{
    /* position: absolute; */
width: 64px;
height: 66px;
/* left: 29px;
top: 288px; */
background: #8490FF;
display: flex;
align-items: center;
justify-content: center;
flex: 1;

color: black;
border-radius: 100%;
font-size: 30px;
align-items: center;
text-align: center;
outline: none;
border: none;
cursor: pointer;
}

